<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeOtomasyon.Properties.Settings.bag" connectionString="Data Source=192.168.1.103,1433;Initial Catalog=CafeOtomasyon;Persist Security Info=True;User ID=ADMIN;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>